<p id="notice"><%= notice %></p>

<h1>Listing Carriers</h1>

<table>
  <thead>
    <tr>
      <th>Carrier name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Contact</th>
      <th>Email</th>
      <th>Phone #</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carriers.each do |carrier| %>
      <tr>
        <td><%= carrier.carrier_name %></td>
        <td><%= carrier.address_line_1 %></td>
        <td><%= carrier.city_name %></td>
        <td><%= carrier.state_code %></td>
        <td><%= carrier.zip_code %></td>
        <td><%= carrier.contact_name1 %></td>
        <td><%= carrier.email1 %></td>
        <td><%= carrier.phone_nbr1 %></td>
        <td><%= link_to 'Show', carrier %></td>
        <td><%= link_to 'Edit', edit_carrier_path(carrier) %></td>
        <td><%= link_to 'Destroy', carrier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carrier', new_carrier_path %>
<br/>
<br/>

<%= link_to "Back to M2W Menu", m2w_path %>
