<%= form_for(@purchase_order) do |f| %>
  <% if @purchase_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_order.errors.count, "error") %> prohibited this purchase_order from being saved:</h2>

      <ul>
      <% @purchase_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%=f.label :po_nbr, "PO \#" %>
    <%=f.number_field :po_nbr %><br>
  </div>
  <div class="field">
    <%= f.label :required_weight_tons, "Required Weight Tons" %><br>
    <%= f.text_field :required_weight_tons, :class => 'required_weight_tons',
                     :value => (number_with_precision(f.object.required_weight_tons, :precision => 2) || 0) %>
    <div class="field">
    <%= f.label :vendor %><br>
    <% if :vendor_id != nil %>
      <%= f.select(:vendor_id, options_for_select(vendors)) %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :well_name,"Well Name" %><br>
    <%= f.text_field :well_name %>
  </div>
  <div class="field">
    <%= f.label :sand_grade,"Sand Grade" %><br>
    <%= f.select :sand_grade, ['40/70m', '100m']%>
    </div>
  <div class="field">
    <%= f.label :start_date,"Start Date" %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
