<p id="notice"><%= notice %></p>

<h1>Listing Purchase Orders</h1>

<table>
  <thead>
    <tr>
      <th>Required weight tons</th>
      <th>Required weight lbs</th>
      <th>Remaining weight tons</th>
      <th>Remaining weight lbs</th>
      <th>Vendor</th>
      <th>Well name</th>
      <th>Sand grade</th>
      <th>Start date</th>
      <th>Active</th>
      <th>Added by</th>
      <th>Changed by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_orders.each do |purchase_order| %>
      <tr>
        <td><%= purchase_order.required_weight_tons %></td>
        <td><%= purchase_order.calculate_weight_in_lbs %></td>
        <td><%= purchase_order.remaining_weight_tons %></td>
        <td><%= purchase_order.remaining_weight_lbs %></td>
        <% if purchase_order.vendor_id != nil %>
          <td><%= "#{purchase_order.vendor.vendor_name}" %></td>
        <% end %>
        <td><%= purchase_order.well_name %></td>
        <td><%= purchase_order.sand_grade %></td>
        <td><%= purchase_order.start_date %></td>
        <td><%= purchase_order.active %></td>
        <td><%= purchase_order.added_by %></td>
        <td><%= purchase_order.changed_by %></td>
        <td><%= link_to 'Show', purchase_order %></td>
        <td><%= link_to 'Edit', edit_purchase_order_path(purchase_order) %></td>
        <td><%= link_to 'Destroy', purchase_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase order', new_purchase_order_path %>

<br/>
<br/>

<%= link_to "Back to M2W Menu", m2w_path %>
