<%= form_for(@trailer, html:{ multipart: true }) do |f| %>
  <% if @trailer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trailer.errors.count, "error") %> prohibited this trailer from being saved:</h2>

      <ul>
      <% @trailer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :trailer_nbr, "Trailer \#" %><br>
    <%= f.text_field :trailer_nbr %>
  </div>
  <div class="field">
    <%= f.label :driver_name %><br>
    <%= f.text_field :driver_name %>
  </div>
  <div class="field">
    <%= f.label :carrier_id %><br>
    <%= f.number_field :carrier_id %>
  </div>
  <div class="field">
    <%= f.label :date_shipped %><br>
    <%= f.date_select :date_shipped %>
  </div>
  <div class="field">
    <%= f.label :bol_nbr, "BOL \#" %><br>
    <%= f.number_field :bol_nbr %>
  </div>
  <div class="field">
    <%= f.label :time_in %><br>
    <%= f.datetime_select :time_in %>
  </div>
  <div class="field">
    <%= f.label :time_out %><br>
    <%= f.datetime_select :time_out %>
  </div>
  <div class="field">
    <%= f.label :time_taken_number, "Duration" %><br>
    <%= f.text_field :time_taken_number, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :railcar_nbr, "Rail Car \#" %><br>
    <%#= f.text_field :railcar_nbr %>
    <% if !@trailer_new %>
      <%= f.select(:railcar_nbr, options_for_select(@rail_car_array)) %>
    <% else %>
      <%#= f.select(:purchaseorder_id, options_for_select(purchase_orders)) %>
      <%= f.select(:railcar_nbr, options_for_select(["Not Assigned"]+ @rail_car_array)) %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :worker %><br>
    <%= f.text_field :worker %>
  </div>
  <div class="field">
    <%= f.label :weight_lbs, "Weight Lbs" %><br>
    <%= f.number_field number_with_delimiter(:weight_lbs) %>
  </div>
  <div class="field">
    <%= f.label :purchase_order, "PO \#: " %>
      <%#= f.number_field :purchaseorder_id %>
    <% if !@trailer_new %>
      <%= f.select(:purchaseorder_id, options_for_select(@po_array)) %>
    <% else %>
      <%#= f.select(:purchaseorder_id, options_for_select(purchase_orders)) %>
      <%= f.select(:purchaseorder_id, options_for_select(["Not Assigned"]+ @po_array)) %>
    <% end %>
  </div>

  <fieldset>
    <legend>Uploaded Document</legend>
    <div class="field">
      <%= f.label :doc_file_name, "File Name: " %>
      <%= f.text_field :doc_file_name, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :doc, "Select New Document to Upload: " %>
      <%= f.file_field :doc %>
    </div>

    <div class="field">
      <%= f.label :doc_comment, "Comments:" %><br>
      <%= f.text_area :doc_comment %>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
