<p id="notice"><%= notice %></p>

<h1>Listing Trailers</h1>

<table>
  <thead>
    <tr>
      <th>Trailer #</th>
      <th>Driver name</th>
      <th>Carrier name</th>
      <th>Date shipped</th>
      <th>Bol nbr</th>
      <th>Time in</th>
      <th>Time out</th>
      <th>Time taken number</th>
      <th>Railcar #</th>
      <th>Worker</th>
      <th>Weight lbs</th>
      <th>Weight tons</th>
      <th>Purchaseorder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trailers.each do |trailer| %>
      <tr>
        <td><%= trailer.trailer_nbr %></td>
        <td><%= trailer.driver_name %></td>
        <td><%= trailer.carrier_name %></td>
        <td><%= trailer.date_shipped %></td>
        <td><%= trailer.bol_nbr %></td>
        <td><%= trailer.time_in %></td>
        <td><%= trailer.time_out %></td>
        <td><%= trailer.time_taken_number %></td>
        <td><%= trailer.railcar_nbr %></td>
        <td><%= trailer.worker %></td>
        <td><%= trailer.weight_lbs %></td>
        <td><%= trailer.weight_tons %></td>
        <td><%= trailer.purchaseorder_id %></td>
      
        <td><%= link_to 'Show', trailer %></td>
        <td><%= link_to 'Edit', edit_trailer_path(trailer) %></td>
        <td><%= link_to 'Destroy', trailer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trailer', new_trailer_path %>
<br/>
<br/>

<%= link_to "Back to M2W Menu", m2w_path %>
