<p id="notice"><%= notice %></p>

<h2> Trailer Details </h2>
<p>
  <strong>Trailer nbr:</strong>
  <%= @trailer.trailer_nbr %>
</p>

<p>
  <strong>Driver name:</strong>
  <%= @trailer.driver_name %>
</p>

<p>
  <strong>Carrier id:</strong>
  <%= @trailer.carrier_id %>
</p>

<p>
  <strong>Date shipped:</strong>
  <%= @trailer.date_shipped %>
</p>

<p>
  <strong>Bol nbr:</strong>
  <%= @trailer.bol_nbr %>
</p>

<p>
  <strong>Time in:</strong>
  <%= @trailer.time_in %>
</p>

<p>
  <strong>Time out:</strong>
  <%= @trailer.time_out %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @trailer.time_taken_number %>
</p>

<p>
  <strong>Railcar nbr:</strong>
  <%= @trailer.railcar_nbr %>
</p>

<p>
  <strong>Worker:</strong>
  <%= @trailer.worker %>
</p>
<p>
  <strong>Weight tons:</strong>
  <%= @trailer.weight_tons.round(2)  %>
</p>

<p>
  <strong>Weight lbs:</strong>
  <%=number_with_delimiter(@trailer.weight_lbs)%>
</p>


<p>
  <strong>Purchase Order #:</strong>
  <% if @trailer_po_nf %>
     <%= "Not Assigned" %>
  <% else %>
     <%= @trailer_po.po_nbr %>
     <strong> Po Id: </strong>
     <%= @trailer_po.id %>
  <% end %>
  <%#= @trailer.purchaseorder_id %>
</p>

<p>
  <strong>Added by:</strong>
  <%= @trailer.added_by %>
</p>

<p>
  <strong>Changed by:</strong>
  <%= @trailer.changed_by %>
</p>

<fieldset>
  <legend> <strong> Uploaded Document </strong></legend>
    <p>
      <strong>File Name: </strong>
        <%= @trailer.doc_file_name %>
    </p>
    <p>
      <strong>Content Type: </strong>
        <%= @trailer.doc_content_type %>
    </p>
    <p>
      <strong>File Size: </strong>
        <%= number_to_human_size(@trailer.doc_file_size) %>
    </p>
    <p>
      <strong>Updated On: </strong>
        <%= @trailer.doc_updated_at %>
    </p>
    <p>
      <strong>Comments: </strong>
        <%= @trailer.doc_comment %>
    </p>
    <p>
  <strong> View Document :</string>

  <h3>
    <%= link_to @trailer.doc.original_filename, @trailer.doc.url, :target => "_blank" if @trailer.doc?%>
  </h3>

  <p>
</fieldset>

<%= link_to 'Edit', edit_trailer_path(@trailer) %> |
<%= link_to 'Back', trailers_path %>
