<%= form_for(@vendor) do |f| %>
  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= f.label :vendor_name, "Vendor Name" %><br>
    <%= f.text_field :vendor_name %>
  </div>
  <div class="field">
    <%= f.label :address_line_1, "Address Line1" %><br>
    <%= f.text_field :address_line_1 %>
  </div>
  <div class="field">
    <%= f.label :address_line_2, "Address Line2" %><br>
    <%= f.text_field :address_line_2 %>
  </div>
  <div class="field">
    <%= f.label :city_name, "City" %><br>
    <%= f.text_field :city_name %>
  </div>
  <div class="field">
    <%= f.label :state_code, "State" %><br>
    <% if :state_code != nil %>
      <%= f.select(:state_code, options_for_select(us_states,@vendor.state_code)) %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :zip_code,"ZIP" %><br>
    <%= f.number_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :contact_name1,"Contacy Name1" %><br>
    <%= f.text_field :contact_name1 %>
  </div>
  <div class="field">
    <%= f.label :email1 %><br>
    <%= f.text_field :email1 %>
  </div>
  <div class="field">
    <%= f.label :phone_nbr1,"Phone \#" %><br>
    <%= f.text_field :phone_nbr1 %>
  </div>
  <div class="field">
    <%= f.label :contact_name2, "Contact Name2" %><br>
    <%= f.text_field :contact_name2 %>
  </div>
  <div class="field">
    <%= f.label :email2 %><br>
    <%= f.text_field :email2 %>
  </div>
  <div class="field">
    <%= f.label :phone_nbr2,"Phone \#" %><br>
    <%= f.text_field :phone_nbr2 %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
