<p id="notice"><%= notice %></p>

<h1>Listing Vendors</h1>

<table>
  <thead>
    <tr>
      <th>Vendor name</th>
      <th>Address line 1</th>
      <th>Address line 2</th>
      <th>City name</th>
      <th>State code</th>
      <th>Zip code</th>
      <th>Contact name1</th>
      <th>Email1</th>
      <th>Phone nbr1</th>
      <th>Contact name2</th>
      <th>Email2</th>
      <th>Phone nbr2</th>
      <th>Comments</th>
      <th>Added by</th>
      <th>Changed by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.vendor_name %></td>
        <td><%= vendor.address_line_1 %></td>
        <td><%= vendor.address_line_2 %></td>
        <td><%= vendor.city_name %></td>
        <td><%= vendor.state_code %></td>
        <td><%= vendor.zip_code %></td>
        <td><%= vendor.contact_name1 %></td>
        <td><%= vendor.email1 %></td>
        <td><%= vendor.phone_nbr1 %></td>
        <td><%= vendor.contact_name2 %></td>
        <td><%= vendor.email2 %></td>
        <td><%= vendor.phone_nbr2 %></td>
        <td><%= vendor.comments %></td>
        <td><%= vendor.added_by %></td>
        <td><%= vendor.changed_by %></td>
        <td><%= link_to 'Show', vendor %></td>
        <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
        <td><%= link_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendor', new_vendor_path %>
<br/>
<br/>

<%= link_to "Back to M2W Menu", m2w_path %>
