<br>
<h1>M2W Admin Functions</h1>
<body>
  <ul>
    <li>
      <%= link_to 'Carriers', carriers_path %>
    </li>
  </ul>
  <ul>
    <li>
      <%= link_to 'Purcasae Orders', purchase_orders_path %>
    </li>
  </ul>
  <ul>
    <li>
      <%= link_to 'Rail Car', rail_cars_path %>
    </li>
  </ul>
  <ul>
    <li>
      <%= link_to 'Trailer', trailers_path %>
    </li>
  </ul>
  <ul>
    <li>
      <%= link_to 'Users', users_path %>
    </li>
  </ul>
  <ul>
    <li>
      <%= link_to 'User Access', user_access_levels_path %>
    </li>
  </ul>
  <ul>
    <li>
      <%= link_to 'Vendors', vendors_path %>
    </li>
  </ul>




<%= yield %>
