<%= form_for(@rail_car, html:{ multipart: true }) do |f| %>
  <% if @rail_car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rail_car.errors.count, "error") %> prohibited this rail_car from being saved:</h2>

      <ul>
      <% @rail_car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :railcar_nbr,"Rail Car \#" %><br>
    <%= f.text_field :railcar_nbr %>
  </div>
  <div class="field">
    <%= f.label :wgt_on_arrival, "Weight on Arrival Tons" %><br>
    <%= f.text_field :wgt_on_arrival, :class => 'wgt_on_arrival', :value => (number_with_precision(f.object.wgt_on_arrival, :precision => 2) || 0) %>
  </div>
  <div class="field">
    <%= f.label :wgt_at_origin, "Weight at Origin lbs" %><br>
    <%= f.number_field :wgt_at_origin %>
  </div>
  <div class="field">
    <%= f.label :sand_grade, "Sand Grade" %><br>
    <%= f.select :sand_grade, ['40/70m', '100m']%>
  </div>
  <div class="field">
    <%= f.label :car_empty,"Car Empty" %><br>
    <%= f.check_box :car_empty %>
  </div>
  <div class="field">
    <%= f.label :bol_nbr, "BOL \#" %><br>
    <%= f.number_field :bol_nbr %>
  </div>
  <div class="field">
    <%= f.label :vendor, "Vendor \#" %><br>
    <%= f.select(:vendor_id, options_for_select(vendors)) %>
  </div>
  <div class="field">
    <%= f.label :vendor_po_nbr, "Vendor Halliburton TO #" %><br>
    <%= f.number_field :vendor_po_nbr %>
  </div>
  <div class="field">
    <%= f.label :email_bol, "Email BOL" %><br>
    <%= f.check_box :email_bol %>
  </div>
  <div class="field">
    <%= f.label :purchaseorder_id, "Purchase Order \#" %><br>
    <%= f.number_field :purchaseorder_id %>
  </div>
  <div class="field">
    <%= f.label :arrival_dt_elk_city, "Arrival Date Elk City" %><br>
    <%= f.date_select :arrival_dt_elk_city %>
  </div>
  <div class="field">
    <%= f.label :arrival_dt_400_line, "Arrival Date 400 Line" %><br>
    <%= f.date_select :arrival_dt_400_line %>
  </div>
  <div class="field">
    <%= f.label :actual_dep_dt,"Actual Drop Off Date" %><br>
    <%= f.date_select :actual_dep_dt %>
  </div>
  <div class="field">
    <%= f.label :arrival_dt_onsite,"Arrival Date" %><br>
    <%= f.date_select :arrival_dt_onsite %>
  </div>
  <div class="field">
    <%= f.label :bol_arrival_dt,"BOL Arrival Date" %><br>
    <%= f.date_select :bol_arrival_dt %>
  </div>


  <fieldset>
    <legend>Uploaded Document</legend>
    <div class="field">
      <%= f.label :doc_file_name, "File Name: " %>
      <%= f.text_field :doc_file_name, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :doc, "Select New Document to Upload: " %>
      <%= f.file_field :doc %>
    </div>

    <div class="field">
      <%= f.label :doc_comment, "Comments:" %><br>
      <%= f.text_area :doc_comment %>
    </div>
  </fieldset>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
