<p id="notice"><%= notice %></p>

<h1>Listing Rail Cars</h1>

<table>
  <thead>
    <tr>
      <th>Rail Car #</th>
      <th>Wght on Arrival</th>
      <th>Wght at Origin</th>
      <th>Sand Grade</th>
      <th>Car Empty</th>
      <th>BOL #</th>
      <th>Vendor #</th>
      <th>Vendor PO #</th>
      <th>Email BOL</th>
      <th>PO #</th>
      <th>Arrival Elk City</th>
      <th>Arrival 400 Line</th>
      <th>Actual Dep</th>
      <th>Arrival Onsite</th>
      <th>BOL Arrival</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rail_cars.each do |rail_car| %>
      <tr>
        <td><%= rail_car.railcar_nbr %></td>
        <td><%= rail_car.wgt_on_arrival %></td>
        <td><%= rail_car.wgt_at_origin %></td>
        <td><%= rail_car.sand_grade %></td>
        <td><%= rail_car.car_empty %></td>
        <td><%= rail_car.bol_nbr %></td>
        <td><%= rail_car.vendor_id %></td>
        <td><%= rail_car.vendor_po_nbr %></td>
        <td><%= rail_car.email_bol %></td>
        <td><%= rail_car.purchaseorder_id %></td>
        <td><%= rail_car.arrival_dt_elk_city %></td>
        <td><%= rail_car.arrival_dt_400_line %></td>
        <td><%= rail_car.actual_dep_dt %></td>
        <td><%= rail_car.arrival_dt_onsite %></td>
        <td><%= rail_car.bol_arrival_dt %></td>

        <td><%= link_to 'Show', rail_car %></td>
        <td><%= link_to 'Edit', edit_rail_car_path(rail_car) %></td>
        <td><%= link_to 'Delete', rail_car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rail car', new_rail_car_path %>
<br/>
<br/>

<%= link_to "Back to M2W Menu", m2w_path %>
