<p id="notice"><%= notice %></p>

<p>
  <strong>Railcar nbr:</strong>
  <%= @rail_car.railcar_nbr %>
</p>

<p>
  <strong>Wgt on arrival:</strong>
  <%= @rail_car.wgt_on_arrival %>
</p>

<p>
  <strong>Wgt at origin:</strong>
  <%= @rail_car.wgt_at_origin %>
</p>

<p>
  <strong>Sand grade:</strong>
  <%= @rail_car.sand_grade %>
</p>

<p>
  <strong>Car empty:</strong>
  <%= @rail_car.car_empty %>
</p>

<p>
  <strong>Bol nbr:</strong>
  <%= @rail_car.bol_nbr %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @rail_car.vendor_id %>
</p>

<p>
  <strong>Vendor po nbr:</strong>
  <%= @rail_car.vendor_po_nbr %>
</p>

<p>
  <strong>Email bol:</strong>
  <%= @rail_car.email_bol %>
</p>

<p>
  <strong>Purchaseorder:</strong>
  <%= @rail_car.purchaseorder_id %>
</p>

<p>
  <strong>Arrival dt elk city:</strong>
  <%= @rail_car.arrival_dt_elk_city %>
</p>

<p>
  <strong>Arrival dt 400 line:</strong>
  <%= @rail_car.arrival_dt_400_line %>
</p>

<p>
  <strong>Actual dep dt:</strong>
  <%= @rail_car.actual_dep_dt %>
</p>

<p>
  <strong>Arrival dt onsite:</strong>
  <%= @rail_car.arrival_dt_onsite %>
</p>

<p>
  <strong>Bol arrival dt:</strong>
  <%= @rail_car.bol_arrival_dt %>
</p>

<p>
  <strong>Added by:</strong>
  <%= @rail_car.added_by %>
</p>

<p>
  <strong>Changed by:</strong>
  <%= @rail_car.changed_by %>
</p>

<%= link_to 'Edit', edit_rail_car_path(@rail_car) %> |
<%= link_to 'Back', rail_cars_path %>
