<p id="notice"><%= notice %></p>
<h2> Trailer Details </h2>

<p>
  <strong>Rail Car #:</strong>
  <%= @rail_car.railcar_nbr %>
</p>

<p>
  <strong>Weight on Arrival:</strong>
  <%= number_with_delimiter(@rail_car.wgt_on_arrival) %>
</p>

<p>
  <strong>Weight at Origin:</strong>
  <%= number_with_delimiter(@rail_car.wgt_at_origin) %>
</p>

<p>
  <strong>Sand Grade:</strong>
  <%= @rail_car.sand_grade %>
</p>

<p>
  <strong>Car Empty:</strong>
  <%= @rail_car.car_empty %>
</p>

<p>
  <strong>BOL #:</strong>
  <%= @rail_car.bol_nbr %>
</p>

<p>
  <strong>Vendor Name:</strong>
  <%= "#{@rail_car.vendor.vendor_name}" %>
  <strong>Vendor Id:</strong>
  <%= @rail_car.vendor_id %>
</p>
<p>
  <strong>Vendor Halliburton TO #:</strong>
  <%= @rail_car.vendor_po_nbr %>
</p>

<p>
  <strong>Email BOL:</strong>
  <%= @rail_car.email_bol %>
</p>

<p>
  <strong>Purchase Order #:</strong>
  <% if @rail_car_po_nf %>
     <%= "Not Assigned" %>
  <% else %>
     <%= @rail_car_po.po_nbr %>
     <strong> Po Id: </strong>
     <%= @rail_car_po.id %>
  <% end %>
  <%#= @trailer.purchaseorder_id %>
</p>

<p>
  <strong>Arrival Elk City:</strong>
  <%= @rail_car.arrival_dt_elk_city %>
</p>

<p>
  <strong>Arrival 400 Line:</strong>
  <%= @rail_car.arrival_dt_400_line %>
</p>

<p>
  <strong>Actual Departure:</strong>
  <%= @rail_car.actual_dep_dt %>
</p>

<p>
  <strong>Arrival Onsite:</strong>
  <%= @rail_car.arrival_dt_onsite %>
</p>

<p>
  <strong>BOL Arrival:</strong>
  <%= @rail_car.bol_arrival_dt %>
</p>

<p>
  <strong>Added by:</strong>
  <%= @rail_car.added_by %>
</p>

<p>
  <strong>Changed by:</strong>
  <%= @rail_car.changed_by %>
</p>

<fieldset>
  <legend> <strong> Uploaded Document </strong></legend>
    <p>
      <strong>File Name: </strong>
        <%= @rail_car.doc_file_name %>
    </p>
    <p>
      <strong>Content Type: </strong>
        <%= @rail_car.doc_content_type %>
    </p>
    <p>
      <strong>File Size: </strong>
        <%= number_to_human_size(@rail_car.doc_file_size) %>
    </p>
    <p>
      <strong>Updated On: </strong>
        <%= @rail_car.doc_updated_at %>
    </p>
    <p>
      <strong>Comments: </strong>
        <%= @rail_car.doc_comment %>
    </p>
    <p>
  <strong> View Document :</string>

  <h3>
    <%= link_to @rail_car.doc.original_filename, @rail_car.doc.url, :target => "_blank" if @rail_car.doc?%>
  </h3>

  <p>
</fieldset>

<%= link_to 'Edit', edit_rail_car_path(@rail_car) %> |
<%= link_to 'Back', rail_cars_path %>
